

$bg: #000;
$white:#fff;
$white-opac:rgba(225,225,225,0.1);
$pptgreen: #44E3C1;
$pptorange: #FC5A4C;
$pptpink: #FB4AAC;

/*-----@media Query Sizes-----*/

$mobile-sm: 26em;
$mobile: 34em;
$desktop: 40em;
$desktop-lg: 60em;
$desktop-bg: 65em;


$size: 45px;
